p {
	font-size:14pt;
	color: darkblue;
}

.titulo24{
	font-size: 24pt;
	background: blue;
	color: white;
	width: 90%;
	border-radius: 10px;
	font-family: courier;
}
h1{
	background: blue;
	color: white;
	width: 90%;
	border-radius: 10px;
}
.boton{
	background: blue;
	color: white;
	border-radius: 10px;
}

.table1{
	
	width: 90%;

}

.content-table{
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 0.9em;
	min-width: 400px;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr{
	background-color: #7A28D1;
	color: white;
	text-align: left;
	font-weight: bold;
	font-family: 'Courier New', Courier, monospace;
	font-size: 25px;
}

.content-table td{
	padding: 12px 15px;
}

.content-table tbody{
	border-bottom: 1px solid #dddddd;
	font-family: 'Courier New', Courier, monospace;
	font-size: 20px;
}

.content-table tbody tr:nth-of-type(even){
	background-color: #D5B5F7;
}

.content-table tbody tr:last-of-type{
	border-bottom: 2px solid #7A28D1;
}